*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 600px;
    background: rgba(186, 184, 188, 0.4);
    margin: 100px auto 20px;
    padding: 50px 40px 80px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(33, 120, 175, 0.4);
}

.todo-app h2{
    color: #112138;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: xx-large;
}

.todo-app h2 img{
    width: 80px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(237, 238, 240, 0.7);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 20px;
    font-size: 18px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #112138;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #6e3333;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #e13d3d;
}